<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="example">
    <parent></parent>
  </div>
  <script src="../vue.js"></script>
  <script>
    var childNode = {
      template: `
        <div class="child">
          <div>
            <span>子组件数据</span>
            <input v-model="temp">
          </div>
          <p>{{temp}}</p>
        </div>`,
      props:['childMsg'],
      data(){
        return{
          temp:this.childMsg
        }
      },
      watch:{
        childMsg(){
          this.temp = this.childMsg
        }
      }
    }

    var parentNode = {
      template: `
        <div class="parent">
          <div>
            <span>父组件数据</span>
            <input v-model='msg'>
          </div>
          <p>{{msg}}</p>
          <child :child-msg="msg"></child>
        </div>
      `,
      components:{
        'child':childNode
      },
      data(){
        return{
          msg: 'match'
        }
      }
    };
  new Vue({
    el: '#example',
    components:{
      'parent':parentNode
    }
  })
  </script>
</body>
</html>